#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# HardMode configuration
########################################
#
#    HardMode.Enable
#        Description: Enables/disables the HardMode modes.
#        Default:     0 - Disabled
#                     1 - Enabled
#

HardMode.Enable = 0
HardMode.EnableSelfCrafted = 0
HardMode.EnableHardCore = 0
HardMode.AnnounceModesOnLogin = 1
HardMode.AnnounceModesMaxLevel = 1
HardMode.AnnounceOnPvPKill = 1
