#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# Hard Mode configuration
########################################
#
#    HardMode.Enable
#        Description: Enable the Hard Mode module.
#        Default:     0 - Disabled
#                     1 - Enabled
#

HardMode.Enable = 0

#
#    HardMode.ExpLossOnDeath
#        Description: Enable losing all XP on death.
#        Default:     0 - Disabled
#                     1 - Enabled
#

HardMode.ExpLossOnDeath = 0